/* Global CSS Starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary--family);
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  position: relative;
}

body::after{
    background-image: url('https://cdn.shopify.com/s/files/1/0808/9639/3409/files/pitara_bg.png?v=1758548143');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}
main{
    position: relative;
    z-index: 1;
}

.dark{
    color: var(--color-dark);
}

.white{
    color: var(--color-background);
}

body[data-lenis-prevent] {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-family: 'Bezier Sans', sans-serif;
}
h2{
  font-family: 'Bezier Sans', sans-serif;
  font-size: clamp(32px, 6vw, 42px);
  font-weight: 467;
  line-height: 108%;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

h2 b, h2 span{
  all: inherit;
  font-weight: 633;
  display: inline;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img.ab {
  position: absolute;
  inset: 0;
}

.pos-rel {
  position: relative;
}

.icons {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.icons.ab {
  position: absolute;
  inset: 0;
}

.flex {
  display: flex;
}

.txt-center{
    text-align: center;
}

.container-fluid {
  padding: 0 4%;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
}

.container-left {
  padding: 0% 0% 0% 4%;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
}

.custom-btn{
  font-weight: 400;
  font-size: 12px;
  line-height: 88%;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  border: 1px solid transparent;
  min-width: 200px;
}

.custom-btn.white {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.custom-btn.white:hover {
  border-color: var(--color-background);
  background-color: transparent;
  color: var(--color-background);
}

.custom-btn.dark {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.custom-btn.dark:hover {
  border-color: var(--color-foreground);
  background-color: transparent;
  color: var(--color-foreground);
}

.custom-btn.lined {
  border-color: var(--color-foreground);
  background-color: transparent;
  color: var(--color-foreground);

}

.custom-btn.lined:hover {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.head{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.head.center{
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* About Page */

.ss-item.slide_1 .head .logo{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ss-item.slide_1 .head {
  flex-direction: row;
  gap: 16px;
}
.ss-item.slide_1 .text p{
  font-weight: 400;
  font-size: 24px;
  line-height: 168%;
  letter-spacing: 0.02em;
}

/* About Page Ends */