/* Global CSS Starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary--family);
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  position: relative;
}

body::after{
    background-image: url('https://cdn.shopify.com/s/files/1/0808/9639/3409/files/pitara_bg.png?v=1758548143');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}
main{
    position: relative;
    z-index: 1;
}

.dark{
    color: var(--color-dark);
}

.white{
    color: var(--color-background);
}

body[data-lenis-prevent] {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-family: 'Bezier Sans', sans-serif;
}
h2{
  font-family: 'Bezier Sans', sans-serif;
  font-size: clamp(32px, 4vw, 42px);
  font-weight: 467;
  line-height: 108%;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

h2 b, h2 span, h2 strong{
  all: inherit;
  font-weight: 633;
  display: inline;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img.ab {
  position: absolute;
  inset: 0;
}

.pos-rel {
  position: relative;
}

.icons {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.icons.ab {
  position: absolute;
  inset: 0;
}

.flex {
  display: flex;
}

.txt-center{
    text-align: center;
}

.container-fluid {
  padding: 0 4%;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
}

.container-left {
  padding: 0% 0% 0% 4%;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
}

.custom-btn{
  font-weight: 400;
  font-size: 12px;
  line-height: 88%;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  border: 1px solid transparent;
  min-width: 200px;
}

.custom-btn.white {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.custom-btn.white:hover {
  border-color: var(--color-background);
  background-color: transparent;
  color: var(--color-background);
}

.custom-btn.dark {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.custom-btn.dark:hover {
  border-color: var(--color-foreground);
  background-color: transparent;
  color: var(--color-foreground);
}

.custom-btn.lined {
  border-color: var(--color-foreground);
  background-color: transparent;
  color: var(--color-foreground);

}

.custom-btn.lined:hover {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.head{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.head.center{
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* About Page */

section.side-scroll{
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.side-scroll-wrapper {
  display: flex;
  width: calc(4 * 100vw);
  height: 100%;
  padding: 20px 0;
  align-items: center;
}
.ss-item {
  flex: 0 0 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.ss-item .logo{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.ss-item .head {
  flex-direction: row;
  gap: 16px;
  margin-bottom: 0;
}
.ss-item.slide_1 .text{
  margin-top: 70px;
  max-width: 73ch;
  text-wrap: pretty;
}
/* .ss-item.slide_1 .head h2{
  font-size: clamp(24px, 4vw, 38px);
} */
.ss-item .text p{
  font-weight: 400;
  font-size: 24px;
  line-height: 168%;
  letter-spacing: 0.02em;
}
.ss-item .text p span,.ss-item .text p u, .ss-item .text p strong{
  font-family: var(--font-head--family);
  font-weight: 633;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-pink);
}
.ss-item.slide_1 .text p span,.ss-item.slide_1 .text p u, .ss-item.slide_1 .text p strong{
  color: var(--color-pink);
}
.ss-item.slide_2 .text p span,.ss-item.slide_2 .text p u, .ss-item.slide_2 .text p strong{
  color: var(--color-coffee);
}
.ss-item.slide_1 .stamp{
  width: 100px;
  height: 100px;
  display: flex;
  transform: rotate(25deg);
  margin-top: 32px;
}
.ss-item.slide_1 .stamp img{
  aspect-ratio: 1/1;
  object-fit: contain;
}
.ss-item.slide_1 .ss-item-in{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ss-item.slide_1 .ss-item-in .left{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ss-item.slide_1 .ss-item-in .right{
  width: 35%;
  display: flex;
  max-height: 560px;
}
.ss-item.slide_1 .ss-item-in .right img{
  object-fit: contain;
}

/* Slide 2 */
.ss-item.slide_2 .ss-item-in{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.ss-item.slide_2 .left{
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  padding-right: 40px;
}
.ss-item.slide_2 .stamp{
  position: absolute;
  bottom: 200px;
  right: 0;
  width: 100px;
  height: 100px;
}
.ss-item.slide_2 .right{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
}
.ss2_bigimg{
  padding-top: 70%;
}
.ss2_smimg img{
  object-fit: contain;
}
.ss2_smimg{
  max-height: 300px;
  display: flex;
}
.ss-item.slide_2 .right .text{
  max-width: 59ch;
  margin-right: auto;
}

/* Slide 3 */
.ss3_img img{
  object-fit: contain;
}
.ss3_img{
  display: flex;
  max-height: 280px;
  align-self: flex-end;
  margin-top: 20px;
}
.ss-item.slide_3 .container-fluid{
  height: 100%;
}
.ss-item.slide_3 .ss-item-in{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.ss-item.slide_3 .text p, .ss-item.slide_3 h2{
  color: var(--color-background);
  text-transform: none;
}
.ss-item.slide_3 .text{
  max-width: 81ch;
}
.ss-item.slide_3 .head{
  max-width: 80ch;
}
.ss-item.slide_3 .txt_wrap{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ss-item.slide_3 .head h2 img{
  width: 32px;
  height: 32px;
}


/* About Page Ends */